<template>
	<FormKit type="form" v-model="data" @submit="submit">
		<FormKit
			type="text"
			name="name"
			label="Name"
			validation="required"
			help="What do people call you?"
		/>
		<ResponsiblePersonSection @addResponsiblePerson="addResponsiblePerson" />
		<FormKit
			type="checkbox"
			name="flavors"
			label="Favorite ice cream flavors"
			:options="{
				vanilla: 'Vanilla',
				chocolate: 'Chocolate',
				strawberry: 'Strawberry',
				'mint-chocolate-chip': 'Mint Chocolate Chip',
				'rocky-road': 'Rocky Road',
				'cookie-dough': 'Cookie Dough',
				pistachio: 'Pistachio',
			}"
			validation="required|min:2"
		/>

		<FormKit
			type="checkbox"
			name="agree"
			label="I agree FormKit is the best form authoring framework."
		/>
		<pre class="font-mono text-sm p-4 bg-slate-100 mb-4">{{ data }}</pre>
	</FormKit>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import { FormKit } from '@formkit/vue'
import ResponsiblePersonSection from './ResponsiblePersonSection.vue'

const data = ref({
	responsiblePersons: [{}],
})

async function submit() {
	await new Promise((r) => setTimeout(r, 1000))
	alert('Submitted! 🎉')
}

function addResponsiblePerson() {
	data.value.responsiblePersons.push({})
}
</script>
