<template>
	<section>
		<h2 class="text-3xl font-bold mb-4">Responsible Persons</h2>
		<FormKit
			type="list"
			name="responsiblePersons"
			validation="required|min:1"
			dynamic
			#default="{ items }"
		>
			<div v-auto-animate>
				<FormKit
					type="group"
					v-for="(person, index) in items"
					:key="person"
					:index="index"
				>
					<FormKit
						type="text"
						name="firstName"
						label="First Name"
						validation="required"
					/>
					<FormKit
						type="text"
						name="lastName"
						label="Last Name"
						validation="required"
					/>
					<FormKit type="text" name="email" label="Email" validation="email" />
					<FormKit type="text" name="phone" label="Phone" validation="phone" />
					<FormKit type="button" @click="items.splice(index, 1)"
						>Delete</FormKit
					>
				</FormKit>
			</div>
		</FormKit>
		<FormKit type="button" @click="$emit('addResponsiblePerson')">Add</FormKit>
	</section>
</template>

<script setup lang="ts"></script>
