<script setup lang="ts">
import MainForm from './components/MainForm.vue'
</script>

<template>
	<div class="bg-white rounded-xl shadow-xl p-8 mx-auto my-16 max-w-[450px]">
		<img
			src="https://pro.formkit.com/logo.svg"
			alt="FormKit Logo"
			width="244"
			height="50"
			class="mx-auto mb-8 w-48"
		/>
		<MainForm />
	</div>
</template>
